.recipeContainer {
	padding: 2rem;
	padding-bottom: 1rem;
}


.recipeName {
	max-width: 90%;
}

.recipeSource {
	color: rgba(0, 0, 0, 0.25);
}

.detailsContainer {
	margin-top: 0.5rem;
}

.listItems {
	margin-top: 0.1rem;
}