.recipeList {
	display: grid;
	grid-template-columns: repeat(auto-fit, clamp(100%/(3 + 1) + 0.1%, 400px, 100%));
	justify-content: center;
	gap: 10px
}

.container {
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
}